body {
    font-family: 'Roboto', sans-serif;
}

.card-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
}

#cname {
    font-size: 80px;
    margin: 24px;
}

#cimage {
    display: grid;
    justify-content: center;
    padding: 24px 0 0 0;
}

#cimage img {
    width: 200px;
    border-radius: 100px;
    position: relative;
    bottom: -2px;
}

#border-one {
    border: 20px solid rgb(144, 209, 138);
    border-radius: 200px;
    display: block;
    padding: 3px
}

#border-two {
    border: 20px solid rgb(138, 157, 209);
    border-radius: 200px;
    display: block;
    padding: 3px
}

#cname {
    text-align: center;
}

#cintro {
    text-align: center;
}

.desc {
    text-align: center;
    padding-top: 24px;
}

.crating {
    font-weight: 900;
    font-size: 24px;
}

.title {
    font-size: 16px;
    font-weight: 400;
}


/* This only changes this particular animation duration */

.animate__animated.animate__pulse {
    --animate-duration: 5s;
}